.dockerignore
.env
.git
.gitignore
.vs
.vscode
artifacts
build/win7-x64
examples
docs
tools
test
*/bin
*/obj
**/.toolstarget
build-docker.bat
build-win7x64.bat
LICENSE.md
README.md
cleanup.sh
CONTRIBUTING.md