<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ServiceBase CI" value="https://ci.appveyor.com/nuget/servicebase-v2ipc63cfj6u" />
    <add key="Identity* Dev Feed" value="https://www.myget.org/F/identity/" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>