@model IdentityBase.Web.ViewModels.Login.LoginViewModel
<div class="form-group">
    <label asp-for="Password"></label>
    <input type="password"
           class="form-control"
           placeholder="Enter password"
           asp-for="Password"
           autocomplete="off" />
</div>