@model IdentityBase.Web.ViewModels.Login.LoginViewModel

<div class="form-group login-remember">
    <label asp-for="RememberLogin">
        <input asp-for="RememberLogin" />
        <strong>Remember login</strong>
    </label>
</div>