@model IdentityBase.Web.ViewModels.Recover.RecoverViewModel
       
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control"
               placeholder="Enter email"
               asp-for="Email" />
    </div>