@model IdentityBase.Actions.Register.SuccessViewModel

<div class="login-page">
  <div class="page-header">
    <h1>Register</h1>
  </div>

    <p>Please click on the link in the mail</p>

    <p>@Model.Provider</p>

</div>