
<div class="login-page">
    <div class="page-header">
        <h1 localize="">User account</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("AccountMenu")
        </div>
        <div class="col-md-9">

            <h4>Two-factor authentication (2FA)</h4>


            <div class="row">
                <div class="col-md-6">

                    <h2>....</h2>
                </div>
            </div>
        </div>
    </div>
</div>