
<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to IdentityBase Custom Theme 
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-8">
            <p>
                IdentityBase publishes a
                <a href="~/.well-known/openid-configuration">discovery document</a>
                where you can find metadata and links to all the endpoints, key material, etc.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                IdentityBase is based on <a href="https://github.com/identityserver/IdentityServer4"> IdentityServer4</a>.
                Here are links to the <a href="https://github.com/aruss/IdentityBase">source code repository</a> and IdentityServer4 <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a> which a fully compatible with IdentityBase.
            </p>
        </div>
    </div>
</div>
