@model IdentityBase.Actions.Register.SuccessViewModel

<div class="login-page">
    <div class="page-header">
        <h1 localize="">Token verification failed</h1>
    </div>
    @Html.Partial("_ValidationSummary")
</div>