@model IdentityBase.Actions.Recover.SuccessViewModel

<div class="login-page">
  <div class="page-header">
    <h1 localize="">Recover Account</h1>
  </div>

  <p localize="">Please check your email for a message with reset link.</p>

</div>