@model IdentityBase.Actions.External.ErrorViewModel

<div class="login-page">
    <div class="page-header">
        <h1>Link login with existing account</h1>
    </div>

    <p>The login is already assosiated with another account</p>
    <a href="@Model.ReturnUrl" class="btn btn-default">Ok</a>
</div>  