
<div class="logout-page">
    <div class="page-header">
        <h1 localize="">Logout</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">

            You already has a account with the same email address would you like to merge this accounts [YES]<br />
            Or would you like to use another login [Show login here]

            
        </div>
    </div>
</div>