@model IdentityBase.Actions.External.IExternalProvidersViewModel

@if (Model.ExternalProviders != null && Model.ExternalProviders.Count() > 0)
{
    <div class="col-md-6 col-sm-6 external-providers">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">External Account</h3>
            </div>
            <div class="panel-body">
               <ul class="list-inline">
                    @foreach (var provider in Model.ExternalProviders)
                    {
                        <li class="list-inline">
                            <a class="btn btn-default"
                               asp-route="ExternalChallenge"
                               asp-route-provider="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                @provider.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}