<div class="alert alert-danger" show-if="!ViewContext.ModelState.IsValid && ViewContext.ModelState.ContainsKey(string.Empty)">
  <strong localize="">Error</strong>
  <div asp-validation-summary="ModelOnly" class="danger"></div>
</div>