@model IdentityBase.Actions.Login.LoginViewModel

<div class="form-group">
    <label asp-for="Email" localize="">Email</label>
    <input class="form-control"
           placeholder="@Localizer["Enter email"]"
           asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>