@model IdentityBase.Actions.Login.LoginViewModel

<div class="form-group">
    <label asp-for="Password" localize="">Password</label>
    <input type="password"
           class="form-control"
           placeholder="@Localizer["Enter password"]"
           asp-for="Password"
           autocomplete="off" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>