@model IdentityBase.Public.Actions.Recover.SuccessViewModel

<div class="login-page">
  <div class="page-header">
    <h1>Recover Account</h1>
  </div>

    Please check your email for a message with reset link.

</div>