Please click here to confirm your new email address:<br />
<br />
<a href="{ConfirmUrl}">{ConfirmUrl}</a><br />
<br />
If this was in error or not requested then click to cancel the request:<br />
<br />
<a href="{CancelUrl}">{CancelUrl}</a><br />
<br />
Thanks!