@model IdentityBase.Actions.Account.ChangeEmailConfirmViewModel

<div class="login-page">
    <div class="page-header">
        <h1 localize="">User account</h1>
    </div>

    @Html.Partial("_ValidationSummary")

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change your email address</h3>
                </div>
                <div class="panel-body">


                    There is an error occurred

                </div>
            </div>
        </div>
    </div>
</div>