@model AspNetCoreWeb.UI.InviteUser.InviteViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Invite User</h1> 

<form action="/invite-user" method="post" >

    @Html.AntiForgeryToken()
    @Html.EditorForModel()

    <br/>
    <button type="submit">Invite</button>
</form>
