@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>@Localizer["LoggedInAs"] @User.Identity.Name</h1>
}
else
{
    <h1>@Localizer["NotLoggedIn"]</h1>
}