@model IdentityBase.Actions.Register.RegisterViewModel
<div class="form-group">
    <label asp-for="PasswordConfirm" localize="">Repeat password</label>
    <input type="password"
           class="form-control"
           placeholder="@Localizer["Enter password"]"
           asp-for="PasswordConfirm"
           autocomplete="off" />
    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
</div>