<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityBase</title>
    <link rel="icon" type="image/x-icon" href="~/FancyTheme/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/FancyTheme/favicon.ico" />
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>